<% layout("layouts/boilerplate") %>

    <div class="row mt-3">
        <div class="col-8 offset-2">
    <form action="/listings/<%=ListItem._id%>?_method=patch" class=" needs-validation" method="post" novalidate enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label" >Enter Title</label>
        <input type="text" value="<%=ListItem.title%>" name="data[title]"class="form-control" required >
        <div class="valid-feedback">
        Looks good!
        </div>
        <div class="invalid-feedback">
         Please choose a Title.
        </div>
        </div>
        <div class="mb-3">
        <label for="description" class="form-label" >Description</label>
        <textarea name="data[description]" class="form-control"  id="" required ><%=ListItem.description%></textarea>
        <div class="valid-feedback">
        Looks good!
        </div>
        <div class="invalid-feedback">
         Please give a Description.
        </div>
        </div>
        <div class="row">
        <div class="col-6 mb-3">
            <img src="<%=ListItem.image.url%>" style="height: 20rem;"  class="card-img-top img-thumbnail"  alt="...">
        </div>
        </div>
        <div class="mb-3">
         <label for="image" class="form-label" >Image </label>
        <input type="file"  name="data[image]"class="form-control" >
        </div>
        <div class="mb-3">
             <label for="price" class="form-label" >Price</label>
        <input type="number" value="<%=ListItem.price%>" name="data[price]"class="form-control"required >
        <div class="valid-feedback">
        Looks good!
        </div>
        <div class="invalid-feedback">
         Please give a Price.
        </div>
        
        </div>
        <div class="row">
        <div class="mb-3 col-md-4">
            
           <label for="description" class="form-label" >Location</label>  
        <input type="text" value="<%=ListItem.location%>" name="data[location]"class="form-control"required >
        <div class="valid-feedback">
        Looks good!
        </div>
        <div class="invalid-feedback">
         Please give a Description.
        </div>
        
        </div>
        <div class="mb-3 col-md-8">
             <label for="description" class="form-label" >country</label>
        <input type="text" value="<%=ListItem.country%>" name="data[country]"class="form-control"required>
        <div class="valid-feedback">
        Looks good!
        </div>
        <div class="invalid-feedback">
         Please give a Description.
        </div>
        </div>
     </div>
     <div class="mb-3">
          <select class="form-select" name="data[category]" aria-label="Default select example" required>
          <option value="<%=ListItem.category%>" selected ><%=ListItem.category%></option>
          <option value="trendings">Trendings</option>
          <option value="rooms">rooms</option> 
          <option value="iconic cities">Iconic Cities</option>
          <option value="mountains">Mountains</option>
          <option value="castels">Castels</option>
          <option value="pool">Pool</option>
          <option value="camping">Campain</option>
          <option value="farms">Farms</option>
          <option value="arctic">Arctic</option>
          </select>
        </div>
        <button class="btn btn-dark add-btn">add</button>
    </form>
    </div>
</div>